# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.test-deploiement.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\simon\RiderProjects\Projet-Quiz\poc\test-deploiement\.idea\.idea.test-deploiement.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
